/* 左側  */
.leftDiv {
  text-align: center;
}

.imgDiv {
  width: 20%;
  /* height: 300px; */
  /* text-align: center; */
  margin: 0;
  overflow: hidden;
}

.img {
  height: 100px;
}

/* 右側 */
.selectNumber {
  width: 80px;
  height: 80px;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
}
.selectBtn {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.deplete-animation {
  animation: deplete 1s linear forwards;
}

.expand-animation {
  animation: deplete 1s linear reverse forwards;
}

@keyframes deplete {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
